@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(12, 46, 70);
    /* background-image: url('/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.sticky-nav {
    animation: sticky-nav 300ms;
}
   
@keyframes sticky-nav {
   0% {
       transform: translateY(-6em)
   }

   100% {
       transform: translateY(0)
   }
}